			body {
				background: #020a7a;
				color: white;
				overflow: hidden;
			}

			#mouseFollow {
				position: absolute;
				z-index: 120;
				font-size: 25px;
			}

			#currentPersonalitySearch {
				position: absolute;
				left: 45%;
				font-size: 50px;
				z-index: 100
			}

			.float-right{
				position: absolute;
				top: 5px;
				right: 275px;
			}

			.inputPersonality {
				position: absolute;
				top: 2.5px;
				right: 15px;
				font-size: 24px;
				background: #020a7a;
				border: 1px solid white;
				user-select: none;
				color: white;
				z-index: 100;
			}

			.display-hidden-none {
				display: none;
				opacity: 0;
			}

			.inputPersonality:focus {
    		outline: none;
			}
			.inputPersonality:hover {
				border: 1px solid black;
				background: white;
				color: black;
			}

			.display-hidden {
				position: absolute;
				z-index: 100;
				opacity: 0;
				background: #020a7a;
				padding: 10px;
				transform: scale(2, 2);
				animation: hideDispaly linear 0.2s
			}

			.display {
				position: absolute;
				z-index: 100;
				background: #020a7a;
				padding: 10px;
				border: 1px solid black;
				opacity: 0.8;
				transform: scale(2, 2);
				animation: scaleDispaly linear 0.2s
			}

			@keyframes scaleDispaly {
				from {
					opacity: 0;
					transform: scale(0, 0);
				}
				to {
					opacity: 0.8;
					transform: scale(2, 2);
				}
			}

			@keyframes hideDispaly {
				from {
					opacity: 1;
					transform: scale(2, 2);
				}
				to {
					opacity: 0;
					transform: scale(0, 0);
				}
			}

			.assertive-bar {
				background: white;
				height: 15px;
				width: 100%;
				animation: loadBar linear 0.5s;
			}

			.turbulent-bar {
				background: white;
				height: 15px;
				width: 100%;
				animation: loadBar linear 0.5s;
			}

			@keyframes loadBar {
				from {
					width: 0%
				}
				to {
					width: 100%
				}
			}

			.searchBar {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding: 5px;
				background: #020a7a;
				border-bottom: 1px solid black;
				font-size: 25px;
			}