			body {
				color: white;
				overflow: hidden;
				font-family: 'Open Sans', sans-serif;
				text-transform: uppercase;
			}

			body.landingBg {
				background-color: lightgrey
			}

			body.normalBg {
				background-color: black;
				animation: zoomBgOut linear 0.25s;
			}

			body.zoomBg {
				background-color: lightgrey;
				animation: zoomBgIn linear 0.5s;
			}

      .header {
        position: absolute;
        top: 0;
        left: 0;
        background: #00695C;
        height: 80px;
        width: 100%;
        z-index: 2;
      }

			@keyframes zoomBgIn {
				0% {
					background-color: black;
				}
				50% {
					background-color: white;
				}
				100% {
					background-color: lightgrey;
				}
			}

			@keyframes zoomBgOut {
				0% {
					background-color: lightgrey;
				}
				50% {
					background-color: white;
				}
				100% {
					background-color: black;
				}
			}

			a:link {
				text-decoration: none
			}

			a:visited {
				color: white
      }

			.landing-header {
				font-size: 72px;
			}

			.landing-content {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				left: 0;
				right: 0;
        overflow: hidden;
				width: 800px;
        height: 300px;
				text-align: center;
        animation: show-wrapper 0.25s linear forwards;
			}

      .content {
        background: rgba(128,203,196, 1);
        position: absolute;
        top: 80px;
        width: 100%;
        height: 180px;
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 0;
        z-index: 1;
        animation: slide-down 0.5s linear forwards;
        animation-delay: 0.25s;
      }

			#mouseFollow {
				position: absolute;
				z-index: 120;
				font-size: 25px;
			}

			#currentPersonalitySearch {
				position: absolute;
				left: 45%;
				font-size: 50px;
				z-index: 100
			}

			.float-right{
				position: absolute;
				top: 5px;
				right: 275px;
			}

			.inputPersonality {
				position: absolute;
				top: 5px;
				right: 15px;
				font-size: 24px;
				background: none;
				border: 1px solid white;
				user-select: none;
				color: #D95965;
				z-index: 100;
			}

			.inputPersonality:focus {
    		outline: none;
			}

			/*.inputPersonality:hover {
				border: 1px solid black;
				background: white;
				color: black;
			}*/

			.inputPersonality2 {
				height: 100px;
				width: 300px;
				font-size: 100px;
				text-align: center;
				background: #26A69A;
				border: 1px solid transparent;
				user-select: none;
				color: white;
			}

			.inputPersonality2:focus {
    		outline: none;
			}

			.display-hidden-none {
				display: none;
				opacity: 0;
			}


			.display-hidden {
				position: absolute;
				z-index: 100;
				opacity: 0;
				background: #26A69A;
				padding: 10px;
				transform: scale(2, 2);
				animation: hideDispaly linear 0.2s
			}

			.display {
				position: absolute;
				z-index: 100;
				background: #26A69A;
				padding: 10px;
				border: 1px solid black;
				opacity: 0.8;
				transform: scale(2, 2);
				animation: scaleDispaly linear 0.2s
			}

			@keyframes scaleDispaly {
				from {
					opacity: 0;
					transform: scale(0, 0);
				}
				to {
					opacity: 0.8;
					transform: scale(2, 2);
				}
			}

			@keyframes hideDispaly {
				from {
					opacity: 1;
					transform: scale(2, 2);
				}
				to {
					opacity: 0;
					transform: scale(0, 0);
				}
			}

			.assertive-bar {
				background: white;
				height: 15px;
				width: 100%;
				animation: loadBar linear 0.5s;
			}

			.turbulent-bar {
				background: white;
				height: 15px;
				width: 100%;
				animation: loadBar linear 0.5s;
			}

			@keyframes loadBar {
				from {
					width: 0%
				}
				to {
					width: 100%
				}
			}

			.searchBar {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding: 5px;
				background: rgba(0, 0, 0, 0.5);
				border-bottom: 1px solid #D95965;
				font-size: 25px;
			}

			.searchBar-landing {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 35px;
				padding: 5px;
				background: #26A69A;
				font-size: 25px;
				z-index: 400
			}

			.searchBar-zoom {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 35px;
				padding: 5px;
				background: #26A69A;
				font-size: 25px;
				z-index: 400;
				animation: showSearchBar 0.25s linear forwards
			}

			@keyframes showSearchBar {
				from {
					opacity: 0;
					display: none
				}
				to {
					opcaity: 1;
					display: block
				}
			}

			.searchBar-hidden {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 35px;
				padding: 5px;
				background: #26A69A;
				font-size: 25px;
				animation: hideSearchBar 0.1s linear forwards;
			}

			@keyframes hideSearchBar {
				from {
					opacity : 1;
					display: block;
					z-index: 100
				}
				to {
					opacity: 0;
					display: hidden;
					z-index: 1;
				}
			}

			.text-copy--stroke {
				fill: transparent;
				stroke: white;
				stroke-width: 0.2;
				animation: fadeIn 1s ease
			}

			.r-fill {
				fill: white;
				transform-origin: 300px 150px;
				animation: slide 2s ease;
			}

			@keyframes fadeIn {
				from {
					opacity: 0
				}
			}

			@keyframes slide {
				from {
					opacity: 0.75;
					transform: translate(-100%)
				}
				to {
					transform: none
				}
			}

      @keyframes show-wrapper {
				0% {
					opacity: 0;
					transform: scale(0.1)
				}
				10% {
					opacity: 1;
					transform: scale(0.5)
				}
				100% {
					transform: scale(1)
				}
			}

      @keyframes slide-down {
        0% {
          transform: translateY(-300px)
        }
        1% {
          opacity: 1
        }
        100% {
          opacity: 1;
          transform: none
        }
      }

      @keyframes show-popup-wrapper {
        0% {
          opacity: 0;
          transform: scale(0.1)
        }
        10% {
          opacity: 1;
          transform: scale(0.5)
        }
        100% {
          transform: scale(0.8)
        }
      }

      @keyframes hide-popup-wrapper {
        0% {
          opacity: 1;
          transform: scale(0.8);
        }
        100% {
          opacity: 0;
          transform: scale(0.001)
        }
      }

      @keyframes slide-popup-down {
        0% {
          transform: translateY(-150px)
        }
        1% {
          opacity: 1
        }
        100% {
          opacity: 1;
          transform: none
        }
      }

      @keyframes load-percent {
        from {
          width: 0%
        }
        to {
          width: 100%
        }
      }

      .percent-bar {
        height: 50px;
        background: #00695C;
      }

      .percent-loader {
        height: 100%;
        background: #80CBC4;
        animation: load-percent 0.75s linear forwards;
      }

      #assertiveBarLoader {
        animation-delay: 0.25s
      }

      #turbulentBarLoader {
        animation-delay: 0.5s
      }

      .popup-content {
        width: 380px;
        height: 150px;
        color: white;
        background: #26A69A;
        z-index: 1;
        opacity: 0;
        animation: slide-popup-down 0.25s linear forwards;
        transform-origin: left top
      }

			.popup-content-none {
        width: 380px;
        height: 150px;
        color: white;
        background: #26A69A;
			}

      .popup-content > p {
        font-size: 1.5em
      }

      .popup-content:hover {
        color: #00695C
      }

      .popup-content:hover .percent-bar > div {
        background: #00695C;
      }

      .close-icon {
        position: absolute;
        top: 5;
        right: 5px;
        height: 32px;
        width: 32px;
        fill: #80CBC4;
      }

      .close-icon:hover {
        fill: white;
      }

      #first {
        position: absolute;
        padding: 10px;
        top: 80px;
        animation-delay: 0.25s
      }

      #second {
        position: absolute;
        top: 230px;
        padding: 10px;
        animation-delay: 0.5s;
      }

      .popup-header {
        width: 380px;
        height: 80px;
        font-size: 4em;
        padding: 10px;
        background: #00695C;
        color: white;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 2;
      }

      .wrapper {
        height: 400px;
        width: 400px;
        position: absolute;
				top: 20%; 
        overflow: hidden; 
        animation: show-popup-wrapper 0.25s linear forwards;
				z-index: 130;
      }

      .wrapper-hidden {
        height: 400px;
        width: 400px;
        position: absolute;
				top: 20%;
        overflow: hidden; 
        animation: hide-popup-wrapper 0.25s linear forwards;
      }